# Server
PORT=8000

# Db credentials must be the same as in docker-compose.yml
DB_HOST=localhost
DB_PORT=5432

DB_USER=user
DB_PASSWORD=pass
DB_NAME=unicorn

CLIENT_URL=http://localhost:3000


JWT_SECRET=super_secret_key_that_should_be_changed_in_production
JWT_EXPIRES_IN=1d


# Client (update in .env file)
# Switch between local and remote API (also controls openapi-ts.config.ts codegen target)
# Local:
VITE_API_URL=http://localhost:8000
# Remote:
VITE_API_URL=http://46.36.35.142