.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background: linear-gradient(
    160deg,
    var(--color-gradient-primary-dark) 0%,
    var(--color-gradient-primary-light) 100%
  );
}
