.scrollContainer {
  overflow: auto;
}

.wrapper {
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  border: 1px solid var(--mantine-color-default-border);
  min-width: max-content;
}

.table {
  font-size: var(--mantine-font-size-sm);
  border-radius: var(--mantine-radius-md);
}

.thead {
  background: var(--mantine-color-blue-2);
}

[data-mantine-color-scheme="dark"] .thead {
  background: var(--mantine-color-dark-6);
}

.th {
  font-weight: 600;
  white-space: nowrap;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
}

.td {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  vertical-align: middle;
}

.emptyRow {
  padding: var(--mantine-spacing-xl) 0;
}

.loader {
  display: flex;
  justify-content: center;
  padding: var(--mantine-spacing-xl);
}
