.navLink {
  border-radius: 4px;
  color: white !important;
  background-color: var(--color-gradient-primary-dark) !important;

  &:hover {
    background-color: var(--color-hover-btn-light) !important;
  }

  &[aria-current="page"] {
    background-color: var(--color-app-blue-dark) !important;
    color: white !important;
  }
}
